
.container {
  display: flex;
  /* margin-top: 0px; */
  background-color: cadetblue;
  padding-bottom: 20px;
}
.display {
  text-align: center;
  color: blanchedalmond;
  background-color: cadetblue;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.grid {
  width: 250px;
  height: 500px;
  margin-left: 41.5%;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.grid div {
  height: 25px;
  width: 25px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 60px;
  
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.mini-grid div {
  height: 25px;
  width: 25px;
}
